body {
   margin:0px;

   



}
#img1 
{
       max-width:100%;
       height:auto;
}



/*@media only screen and (max-width: 1533px) {
    #body1 {
        height: 3901px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1400px) {
    #body1 {
        height: 3562px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1366px) {
    #body1 {
        height: 3476px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1280px) {
    #body1 {
        height: 3257px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    #body1 {
        height: 2665px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    #body1 {
        height: 1954px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 728px) {
    #body1 {
        height: 1852px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    #body1 {
        height: 1221px  ;
        max-width: 100%;
    }
}
@media only screen and (max-width: 412px) {
    #body1 {
        height: 1048px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 360px) {
    #body1 {
        height: 916px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    #body1 {
        height: 814px;
        max-width: 100%;
    }
}*/